.go_home{
  transition: color 1s , background-color 1s ;
  font-size: 1.5rem ;
  align-items: center;
  justify-content: space-between;
  gap:5px;
  &:hover{ color: #fff; background-color: var(--button-hover); }
}