
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}
/* Themes */
:root {
  /* Default theme */
  --txt-c-1:#224;
  --txt-c-2:#112;
  --txt-c-3:#111;
  --bg-c-1:#fff;
  --bg-c-2:#ddd;
  --bg-c-3:#BBB;
  --side-bg-1:#22f;
  --side-bg-2:rgb(59, 59, 247);
  --side-bg-3:#5757dd;
  --search-bg-1:#003;
  --search-bg-2:#004;
  --search-bg-3:#006;
  --search-bg-4:#009;  
  --side-txt:#fff;
}
[data-mode="dark"] {
  /* dark theme */
  --bg-c-1:#444;
  --bg-c-2:#222;
  --bg-c-3:#111;
  --txt-c-1:#fff;
  --txt-c-2:#ddd;
  --txt-c-3:#BBB;
}
:root {color: rgba(255, 255, 255, 0.87);background-color: #242424;}
/* side-bar & nav-bar */
.side-bar{
  background-color: var(--side-bg-1);
  color: var(--side-txt);
  ul{height: calc(100% - 95px);}
}
.position-settings{
  position:absolute;
  top: 90%;
}
.side-bar__item{
  background-color: var(--side-bg-1);
  color: var(--side-txt);
  cursor: pointer;
  transition: color .5s ,background-color .5s; 
  &:hover{ background-color: var(--side-bg-2);}
  &:active{ background-color: var(--side-bg-3);}
  &:focus, &:focus-visible{outline: outset;}
}
.side-bar__item.active{
  transition: color .5s ,background-color .5s; 
  background-color: var(--side-txt); 
  color:var(--side-bg-1); 
  outline: outset;
}
#search-bar, .search-button{
  background-color:var(--search-bg-1);
  color: #fff;
}
#search-bar{  
  &:hover{ background-color: var(--search-bg-2); }
  &:focus,&:focus-visible{ background-color: var(--search-bg-3); } 
}
.search-button:hover{ background-color: var(--search-bg-3); }
.search-button:active{ background-color: var(--search-bg-4); }
/* content */
.bg-content{  background-color: var(--side-bg-3) ;}

.color_blink:hover , .color_blink:focus {svg{animation: color_blink 1s  linear 0s infinite  both ;}}
@keyframes color_blink {
  0%  {color:yellow;}
  20% {color: red;  }
  40% {color:yellow;}
  80% {color: red;  }
  100%{color:yellow;}
}

.button-add{
  background-color: #2cbc63 ;
  color: var(--side-txt);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .1s;
  border-radius: .5rem;
  font-weight: 500;
  &:hover{ background-color: #15bc37;}
  &:active{ background-color: #2cfc63;}
  &:focus, &:focus-visible{outline: outset }
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px; /* Set the height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--side-txt); /* Background color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--search-bg-3); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--search-bg-1); /* Color when hovering over the thumb */
}