.Proyect__section{
  display: flex;
  flex-direction: column;
  padding: 0% 5% 5% 5% ;
}
.filters__container{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.filter__item {
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: #777 ;
  &:hover{ outline: 1px auto #646cff; }
}
.filter__selected{
  color: var(--text-principal);
  background-color: #646cff;
  &:hover{ background-color: var(--back-secundary); color:var(--text-principal);}
}
.search-projects{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#search_projects{
  margin: 3%;
  width: -webkit-fill-available;
  font-size: 1.3rem;
  border-radius: 15px;
  padding: 10px;
  border: 0;
  background-color: var(--back-secundary);
}
.icon-search-proyect{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  &:hover{color: var(--button-hover);}
}
.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
	grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: space-evenly;
  justify-items: center;
}
.projects-grid-item{
  margin: 5px;
  display:flex;
  flex-direction:column;
  width:-webkit-fill-available;
  border-radius: 25px;
  transition: box-shadow 1s;
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 20px 0 #000;
    color:var(--button-hover);
    .projects-img{
      transform: scale(1);
    }
  }
  &:active{
    box-shadow: inset 0 0 20px 0 #000;
  }
}
.projects-img-content{
  margin: 5% 5% 0 5%;
  width: -webkit-fill-available;
  border-radius: 25px;
  overflow: hidden;
}
.projects-img{
  width: 100%;
  height: 300px;
  transform: scale(1.3);
  transition: transform 1s;
}